# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
firebase-debug.log

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# studio internal files
/internal
/context_backup
/dataconnect/.dataconnect
/dataconnect-generated
dataconnect-debug.log
firestore-debug.log
.firebase/logs/vsce-debug.log
.idx/.data/mysql/#ib_16384_0.dblwr
.idx/.data/mysql/binlog.000119
.idx/.data/mysql/binlog.000120
.idx/.data/mysql/binlog.index
.idx/.data/mysql/firebase-studio-1748711833657.pid
.idx/.data/mysql/ibdata1
.idx/.data/mysql/ibtmp1
.idx/.data/mysql/mysql.ibd
.idx/.data/mysql/undo_001
.idx/.data/mysql/undo_002
.idx/.data/mysql/#innodb_redo/#ib_redo7
.idx/.data/mysql/#innodb_temp/temp_1.ibt
.idx/.data/mysql/#innodb_temp/temp_2.ibt
.idx/.data/mysql/#innodb_temp/temp_3.ibt
.idx/.data/mysql/#innodb_temp/temp_4.ibt
.idx/.data/mysql/#innodb_temp/temp_5.ibt
.idx/.data/mysql/#innodb_temp/temp_6.ibt
.idx/.data/mysql/#innodb_temp/temp_7.ibt
.idx/.data/mysql/#innodb_temp/temp_8.ibt
.idx/.data/mysql/#innodb_temp/temp_9.ibt
.idx/.data/mysql/#innodb_temp/temp_10.ibt
dataconnect-debug.log
firestore-debug.log
.firebase/logs/vsce-debug.log

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
